
.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-azul-numeros-binarios_1055-1918.jpg?w=1060&t=st=1698612596~exp=1698613196~hmac=aa4d10b480ddd970bbd114dc17d099654ff88b28a8fd84b374f308a74e8bcbe0.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}


.contenedor{
    padding: 30px;
    background-color: rgba(142, 184, 221, 0.722);

}